# Object files
*.o
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.log
config.status
configure
depcomp
install-sh
missing
.deps/
Makefile
Makefile.in
dhcpwn/config.h
dhcpwn/dhcpwn
stamp-h1
*~
Makefile
Makefile.am
Makefile.in

tests/test-repr
tests/test-repr.log
tests/*.trs
tests/*.log
